@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);
@import "tailwindcss";
@import "tailwindcss/utilities";


@theme{
    ----font-Jeju: "JejuMyeongjo" , sans-serif;   
    ---breakpoint-*: initial;
    ----breakpoint-sm: 640px;
    ----breakpoint-md: 768px;
    ----breakpoint-lg: 1024px;
    ----breakpoint-xl: 1280px;
    ----breakpoint-2xl: 1536px;

   

}





    
